@{
    ViewData["Title"] = "About page";
}

<h1>About</h1>

<p>Website about game reviews created by Titov Egor.</p>
<a href="https://github.com/TitovYehor/GameReviewWebsite">Link for github repository</a>
